<div class="viewAllContain">
	<table class="table table-hover">
		<th>
			<td>Something</td>
			<td>Something</td>
			<td>Something</td>
			<td>Something</td>
		</th>
		<tbody>
			{{ #result }}
			<tr>
				<td>{{file}}</td>
			<td>{{command}}</td>
			<td>{{logFile}}</td>
			<td>{{pid}}</td>
			<td>{{pidFile}}</td>
			<td>{{sourceDir}}</td>
			</tr>
			{{ /result }}
		</tbody>
</table>
</div>